<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Grenier du Joueur - panneau d'administration</title>
    <link rel="stylesheet" href="/src/assets/css/admin.css">
</head>
<body>

    <h1>Admin Board</h1>

    <div class="tabs">
        <button class="tabLink" data-target="users">Utilisateurs</button>
        <button class="tabLink" data-target="products">Produits</button>
        <button class="tabLink" data-target="statistics">Statistiques</button>
    </div>

    <div class="tabContent" id="users">
        <h3>Base des comptes utilisateurs</h3>
        <p>CRUD utilisateurs</p>
        form
    </div>

    <div class="tabContent" id="products">
        <h3>Base des produits</h3>
        <p>CRUD produits</p>
    </div>

    <div class="tabContent" id="statistics">
        <h3>Statistiques</h3>
        <p>Visualiser des statistiques descriptives sur les utilisateurs et les produits</p>
    </div>





    <script src="/src/assets/js/admin.js"></script>

</body>
</html>