<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Gérez vos informations personnelles et vos adresses de livraison, suivez l'état de vos commandes et accédez à votre liste de produits favoris.">
    <title>Le Grenier du Joueur - Mon compte utilisateur</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/user-account.css">
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e5fa1154d4.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container-header">
            <div class="name">
                <p>Le<br>Grenier<br>du Joueur</p>
            </div>

            <div class="container-searchbar">
                <div class="searchBar">
                    <!-- burger menu -->
                    <input class="input" type="text" placeholder="Rechercher un jeu">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <!-- icone de recherche -->
                </div>
            </div>
            <div class="connection">
                <button type="button">
                    <i class="fa-solid fa-user"></i>
                    <span></span>
                </button>
            </div>
        </div>
    </header>
    <main>
        <div class="user-account">
            <h2><img src="assets/img/icones/user.svg" alt="icone d'utilisateur"><span></span></h2>
            <div class="container userCards">
                <div class="cards row gx-3 gy-3">
                    <div class="col-6 col-md-3 col-lg-3">
                        <div class="card h-100" id="card-details">
                            <div class="card-image">
                                <img src="assets/img/user-account/account-details.webp"
                                    alt="image symbolisant les informations personnelles de l'utilisateur"
                                    class="card-img-top">
                            </div>
                            <div class="card-body">
                                <p class="card-title">Mes informations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3">
                        <div class="card h-100" id="card-addresses">
                            <div class="card-image">
                                <img src="assets/img/user-account/account-addresses.webp"
                                    alt="image symbolisant les adresses de l'utilisateur" class="card-img-top">
                            </div>
                            <div class="card-body">
                                <p class="card-title">Mes adresses</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3">
                        <div class="card h-100" id="card-orders">
                            <div class="card-image">
                                <img src="assets/img/user-account/account-orders.webp"
                                    alt="image symbolisant les commandes de l'utilisateur" class="card-img-top">
                            </div>
                            <div class="card-body">
                                <p class="card-title">Mes commandes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3">
                        <div class="card h-100" id="card-wishlist">
                            <div class="card-image">
                                <img src="assets/img/user-account/account-wish-list.png"
                                    alt="image symbolisant la liste d'envies de l'utilisateur" class="card-img-top">
                            </div>
                            <div class="card-body">
                                <p class="card-title">Ma liste d'envies</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container userContent">
                <div class="content card-details" id="user-details">
                    <i class="fa fa-close fa-2x"></i>
                    <h3>Mes informations personnelles</h3>
                    <div class="data">
                        <div class="field" id="firstName">
                            <p>Prénom :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="lastName">
                            <p>Nom :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="email">
                            <p>E-mail :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="password">
                            <p>Mot de passe :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="communication">
                            <p>Communication :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="newsletter">
                            <p>Newsletter :&nbsp;</p>
                            <span></span>
                        </div>
                    </div>
                    <button type="button" id="edit-details">Modifier mes informations : <i
                            class="fa-solid fa-edit"></i></button>
                </div>
                <div class="content card-addresses" id="user-addresses">
                    <i class="fa fa-close fa-2x"></i>
                    <h3>Mes adresses</h3>
                    <select name="addresses" id="userAdresses">
                        <option value="address1">Adresse 1</option>
                        <option value="newAddress">Nouvelle adresse</option>
                    </select>
                    <div class="data">
                        <div class="field" id="address">
                            <p>Adresse :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="address-complement">
                            <p>Complément :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="zipcode">
                            <p>Code postal :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="city">
                            <p>Ville :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="phone">
                            <p>Téléphone :&nbsp;</p>
                            <span></span>
                        </div>
                    </div>
                    <button type="button" id="edit-btn">Modifier mes informations : <i class="fa fa-edit"></i></button>
                </div>
                <div class="content card-orders" id="user-orders">
                    <i class="fa fa-close fa-2x"></i>
                    <h3>Mes commandes</h3>
                    <div class="data">
                        <div class="field" id="firstName">
                            <p>Prénom :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="lastName">
                            <p>Nom :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="email">
                            <p>E-mail :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="password">
                            <p>Mot de passe :&nbsp;</p>
                            <span></span>
                        </div>
                    </div>
                    <button type="button" id="edit-btn">Modifier mes informations : <i class="fa fa-edit"></i></button>
                </div>
                <div class="content card-wishlist" id="user-wishlist">
                    <i class="fa fa-close fa-2x"></i>
                    <h3>Ma liste d'envies</h3>
                    <div class="data">
                        <div class="field" id="firstName">
                            <p>Prénom :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="lastName">
                            <p>Nom :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="email">
                            <p>E-mail :&nbsp;</p>
                            <span></span>
                        </div>
                        <div class="field" id="password">
                            <p>Mot de passe :&nbsp;</p>
                            <span></span>
                        </div>
                    </div>
                    <button type="button" id="edit-btn">Modifier mes informations : <i class="fa fa-edit"></i></button>
                </div>

            </div>
        </div>

        <div class="icon-bar">
            <div class="container-icon-bar">
                <a href="index.html" class="icon" id="iconHome"><i class="fa-solid fa-house fa-2x"></i></a>
                <a href="products-search.html" class="icon" id="iconSearch"><i
                        class="fa-solid fa-magnifying-glass fa-2x"></i></a>
                <a href="user-account.html" class="icon" id="iconAccount"><i class="fa-solid fa-user fa-2x"></i></a>
                <a href="basket.html" class="icon" id="iconCart"><i class="fa-solid fa-cart-shopping fa-2x"></i></a>
                <a href="irl-store.html" class="icon" id="iconStore"><i class="fa-solid fa-dungeon fa-2x"></i></a>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-footer">
            <p>Copyright © Julien Delobel 2024</p>
            <p>site fictif d'e-commerce: Le Grenier du Joueur</p>
            <a href="./assets/pdf/Mentions_Légales_Le_Grenier_du_Joueur.pdf">Mentions légales</a>
            <a href="./assets/pdf/Politique_de_Confidentialite_Le_Grenier_du_Joueur.pdf">Politiques de
                confidentialité</a>
        </div>
    </footer>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/user-account.js"></script>
    <script src="./lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>