h2>img {
    height: 50px;
    margin-right: 20px;
}

@media screen and (min-width: 768px) {
    main {
        width: 80%;
        margin-left: 10%;
    }
    .icon-bar {
        margin-left: -10%;
    }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1440px) {

}

.irl-store{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-body {
    text-align: center;
}