.container-filter {
    margin: 20px;
    border: 2px solid black;
    border-radius: 8px;
    align-self: center;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

select {
    width: 40%;
}

/* #playtime {
    overflow: auto;
    height: 25px;
} */

.price {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#price-range {
    width: 100%;
    color: black;
}