@media screen and (min-width: 768px) {
    main {
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1440px) {

}

.user-account{
    margin: 20px;
    text-decoration: none;
}

.card-body {
    text-align: center;
}

